apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  namespace: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: callumhunter/sas_sdet_interview:latest
          ports:
            - containerPort: 8090

